@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  background: aliceblue;
}
.App {
  font-family: sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.name {
  font-size: 45px;
  letter-spacing: -1px;
  padding-bottom: 10px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
  background-image: linear-gradient(
    147deg,
    #f90fd8,
    #f54377 26%,
    #fc1c1c 50%,
    #ff520d 75%,
    #72fb59
  );
}
.menu-in-header {
  display: flex;
}
.menu-option {
  margin: 0px 30px;
}
.menu-icon-parent {
  display: none;
}
#root {
  margin: 0px 100px;
}
.intro {
  margin-top: 50px;
}
.view-resume {
  border: 1.5px solid black;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 600;
}
.view-resume-text {
  text-decoration: none;
  color: rgb(63, 63, 63);
}
.skill-cards {
  width: 12rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}
.skill-card-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-parent-div {
  text-align: center;
}
.skill-info {
  padding: 0px 125px;
}
.cards-component {
  margin: 0px 100px;
}
.company-logo {
  margin-right: 30px;
  padding: 10px;
  border: 1.5px solid black;
}
.experience-parent-div {
  margin: 0px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exp-cards {
  min-width: -webkit-fill-available;
  margin: 20px 0px;
}
.techs-in-companies {
  margin: 0px 20px;
}
.tech-in-company {
  max-width: 120px;
  margin-right: 10px;
  border-radius: 30px;
  padding: 6px 15px;
  background: rgb(224, 247, 224);
}
.exp-title {
  font-size: 45px;
  letter-spacing: -1px;
  padding-bottom: 10px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
  background-image: linear-gradient(
    145deg,
    #0e8103,
    #43f55b 26%,
    #18b825 50%,
    #ffdb0d 75%,
    #e8f384
  );
}
.skills-title {
  font-size: 45px;
  letter-spacing: -1px;
  padding-bottom: 10px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
  background-image: linear-gradient(
    145deg,
    #0e8103,
    #43f55b 26%,
    #18b825 50%,
    #ffdb0d 75%,
    #e8f384
  );
}
.mobile-menu {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  margin-left: auto;
  padding: 15px 30px;
  line-height: 3;
  position: fixed;
  right: 20px;
  z-index: 1;
}
#mark-on-mobile-menu {
  background-color: white;
  height: 20px;
  width: 20px;
  margin-right: -124px;
  margin-top: -25px;
  transform: rotate(45deg);
}
.card {
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  #root {
    margin: 10px 30px;
  }
  .menu-option {
    margin: 0px 20px;
  }
  .skill-info {
    padding: unset;
  }
  .experience-parent-div {
    margin: unset;
  }
}

@media screen and (max-width: 600px) {
  .menu-in-header {
    display: none;
    /* background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    padding: 15px 30px;
    line-height: 3;
    position: fixed;
    right: 20px;
    z-index: 1; */
  }
  .skill-parent-div {
    text-align: unset;
  }
  .menu-icon-parent {
    display: block;
  }
  .menu-icon {
    margin-left: 15px;
    font-size: 25px;
  }
  .view-resume-parent-and-menu-icon {
    display: flex;
    align-items: center;
  }
  .media {
    display: flex;
    flex-direction: column;
  }
  .company-logo {
    margin-bottom: 15px;
  }
  .skill-cards {
    width: 100%;
  }
  .cards-component {
    margin: unset;
  }
  .header {
    display: unset;
    text-align: unset;
  }
  .view-resume-parent-and-menu-icon {
    justify-content: space-between;
  }
}
